---
import { Image } from "astro:assets";

import OutlinedButton from "../components/OutlinedButton.astro";
import BasePageLayout from "../layouts/BasePageLayout.astro";

const books = [
  {
    title: "Moonshot",
    cover: "/img/books/moonshot_cover.png",
    link: "/moonshot",
  },
  { title: "Spaceman", cover: "/img/books/cover2.jpg", link: "/spaceman" },
  {
    title: "Spaceman (adapted)",
    cover: "/img/books/spaceman_adapted.jpg",
    link: "/spaceman-adapted",
  },
];
---

<BasePageLayout>
  <h1 class="my-5 text-center font-jost text-header lg:text-4xl xl:mt-12">Mike's Books</h1>

  <hr class="mx-auto mb-5 w-40 border-lightgray xl:mb-8" />

  <p class="text-md mx-auto max-w-md font-roboto text-gray lg:mb-8 lg:max-w-2xl lg:text-xl lg:leading-relaxed">
    In addition to being an astronaut, Mike is also a New York Times bestselling author! He has written three books:

    <em class="font-exo">Moonshot: A NASA Astronaut's Guide To Achieving The Impossible</em>, <em class="font-exo"
      >Spaceman: An Astronaut's Unlikely Journey to Unlock the Secrets of the Universe</em
    >, and, most recently for Mike's younger fans, <em class="font-exo"
      >Spaceman (Adapted for Young Readers): The True Story of a Young Boy's Journey to Becoming an Astronaut</em
    >.
  </p>

  <div class="mt-4 grid grid-cols-1 space-y-4 md:grid-cols-3 md:space-x-8 md:space-y-0">
    {
      books.map((book) => (
        <div class="rounded-xl bg-hero-gradient bg-cover p-3 shadow-xl md:mb-0">
          <a href={book.link}>
            <img src={book.cover} alt={book.title} loading="eager" class="mx-auto aspect-[2/3] h-72 w-auto rounded-md lg:h-96" />
          </a>
          <div class="mx-auto mt-4 w-full">
            <OutlinedButton text={"Learn more about " + book.title} link={book.link} />
          </div>
        </div>
      ))
    }
  </div>
</BasePageLayout>
