---
import { Image } from "astro:assets";
import BasePageLayout from "../layouts/BasePageLayout.astro";

// Import images eagerly so their paths are resolved at build time
const fullImages = import.meta.glob<{ default: string }>("/src/assets/in_space/in_space/*.{jpeg,jpg,png,gif}", { eager: true });

// Convert the imported objects into an array with filenames
const fullImageEntries = Object.entries(fullImages).map(([path, module]) => ({
  src: module.default,
  filename: path.split("/").pop(), // Extract the filename
}));

// Match thumbnails with full images based on filenames
const galleryImages = fullImageEntries.map((fullImg) => {
  // const thumbnail = thumbnailImageEntries.find(thumb => thumb.filename === fullImg.filename);
  return {
    fullSrc: fullImg.src,
  };
});
---

<BasePageLayout pageTitle="Photos">
  <h1 class="my-5 text-center font-jost text-header lg:text-4xl xl:mt-12">Photos of Mike in Space</h1>
  <hr class="mx-auto mb-5 w-40 border-lightgray xl:mb-8" />

  <!-- Gallery Grid -->
  <div class="mb-12 grid grid-cols-2 gap-6 px-16 sm:grid-cols-3 lg:grid-cols-3">
    {
      galleryImages.map((image, index) => (
        // <a data-fslightbox="gallery" href={image.fullSrc}>
        <Image
          src={image.fullSrc}
          alt={`Space Image ${index + 1}`}
          class="h-auto w-full rounded-lg shadow-md transition-transform hover:scale-105"
          width={900}
          height={500}
        />
        // </a>
      ))
    }
  </div>
</BasePageLayout>

<script>
  // @ts-ignore
  import fsLightbox from "fslightbox";
</script>
