---
const { link, text } = Astro.props;
---

<a href={link} class="w-full">
  <div
    class="flex text-center justify-center bg-gradient-to-b from-[#DA5F6B] via-[#E38A4C] to-[#F0CB78] rounded-2xl text-white font-reddit font-light text-[20px] px-3 py-2
           lg:text-3xl lg:py-3
           hover:scale-105"
  >
    {text}
  </div>
</a>
