---
const { link, text } = Astro.props;
---

<a href={link} class="w-full">
  <div
    class="flex justify-center rounded-2xl bg-gradient-to-b from-[#DA5F6B] via-[#E38A4C] to-[#F0CB78] px-3 py-2 text-center font-reddit text-[20px] font-light text-white hover:scale-105 lg:py-3 lg:text-3xl"
  >
    {text}
  </div>
</a>
