---
import Navigation from "./Navigation.astro";

import { Image } from "astro:assets";

import massLogo from "../assets/header logo.png";
---

<header class="relative mx-auto my-3 flex h-16 items-center justify-between bg-white p-4">
  <!-- Logo on the left -->
  <a href="/"><Image src={massLogo} alt="Mike Massimino logo." loading="eager" class="z-10" /></a>

  <Navigation />
</header>
