---
import Navigation from "./Navigation.astro";
---

<header class="my-3 h-16 bg-white p-4 mx-auto flex justify-between items-center relative">
  <!-- Logo on the left -->
  <a href="/"><img src="src/assets/header logo.png" class="z-10" /></a>

  <Navigation />
</header>
