---
interface Props {
  link: string;
  text: string;
}

const { link, text } = Astro.props;
---

<a href={link} class="w-full">
  <div
    class="flex text-center justify-center rounded-3xl outline outline-yellow bg-white outline-4 -outline-offset-4 text-black font-reddit text-[20px] py-2 px-3
    lg:text-3xl lg:py-3"
  >
    {text}
  </div>
</a>
