---
interface Props {
  link: string;
  text: string;
}

const { link, text } = Astro.props;
---

<a href={link} class="w-full">
  <div
    class="flex justify-center rounded-2xl bg-white px-3 py-2 text-center font-reddit text-[20px] text-black outline outline-4 -outline-offset-4 outline-yellow hover:scale-105 lg:py-3 lg:text-3xl"
  >
    {text}
  </div>
</a>
